.car-detail-container {
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.search-input {
    padding-left: 20px;
    height: 30px;
}

.input-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-container {
    width: 250px;
    background-color: var(--gray);
    padding: 5px
}

.search-list {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

.brand-container {
    display: flex;
    flex-direction: column;
}

select {
    width: 200px;
    height: 30px;
    border: solid 1px var(--gray);
    border-radius: 3px;
}


.car-detail-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.floating-button-container {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}